[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
wagtail = "*"
htmx = "*"
tailwindcss = "*"
pandas = "*"
django-crispy-forms = "*"
django-allauth = "*"
django-html5-boilerplate = "*"

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.0"
